[submodule "ron-the-renderer"]
	path = ron-the-renderer
	url = https://github.com/timo-eberl/ron-the-renderer
	branch = main
[submodule "Terathon-Math-Library"]
	path = Terathon-Math-Library
	url = https://github.com/EricLengyel/Terathon-Math-Library.git
